.messenger {
  margin-top: 4rem;
  height: calc(100vh - 64px);
  display: flex;
}

.chat-menu {
  flex: 3.5;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
}

.chat-menu-input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid gray;
  outline: none;
  border-radius: 6px;
  padding-left: 6px;
}

.chat-box {
  flex: 5.5;
}

.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #dedede;
  border-right: 1px solid #ccc;
}

.chat-box-top {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chat-box-top::-webkit-scrollbar {
  width: 6px;
}

.chat-box-top::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.chat-box-top::-webkit-scrollbar-thumb {
  background: rgb(rgb(0, 216, 231), green, blue);
  background: #fff;
}

.chat-box-bottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-message-input {
  width: 100%;
  height: 90px;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: 1px solid;
}

.chat-menu-wrapper,
.chat-box-wrapper,
.chat-online-wrapper {
  height: 100%;
  padding: 10px;
}

.chat-online {
  flex: 3;
}

@media (max-width: 768px) {
  .chat-menu {
    flex: 1;
  }

  .chat-box-bottom {
    flex-direction: column;
  }

  .chat-box-bottom button {
    width: 100%;
  }

  .chat-menu-input {
    display: none;
  }

  .chat-box {
    flex: 10;
  }

  .chat-online {
    flex: 1;
  }
}
