.right-box {
  padding: 0 14px;
  position: fixed;
}

.account {
  display: flex;
  align-items: center;
}

.account-titles {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.account-titles a {
  font-weight: 600;
  font-size: 14px;
  align-items: center;
}

.account-titles span {
  font-size: 14px;
  color: #ccc;
}

.friends-title {
  display: flex;
  margin: 12px 0 8px 0;
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
}

.friends-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-item-left {
  display: flex;
  align-items: center;
}

.friend-username {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.friend-username a {
  font-size: 14px;
  font-weight: 600;
}

.friend-username span {
  font-size: 12px;
  color: #ccc;
}

.friend-item-right {
  margin-left: 6pc;
}

@media (max-width: 1000px) {
  .friend-item-right {
    margin-left: 2pc;
  }
}
