.chat-online-friend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chat-online-img-container {
  position: relative;
}

.chat-online-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}

.chat-online-name {
  margin-left: 10px;
  font-weight: 500;
}

/* responsive */

@media (max-width: 768px) {
  .chat-online-name {
    display: none;
  }
}
