.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.message-top {
  display: flex;
}

.message-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message-text {
  padding: 10px;
  border-radius: 30px;
  background: #1877f2;
  color: #fff;
  max-width: 300px;
}

.message-bottom {
  font-size: 12px;
  margin-top: 6px;
}

.message.own {
  align-items: flex-end;
}

.message.own .message-text {
  background: #fff;
  color: black;
}
